/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */



.main-header{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: yellow;
    }
} 

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.nav-bar{ 
    background-color: $color-primario;
    display: none; /* va flex para desktop */
    width: 100%;
    justify-content: center;

    &__nav-list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__nav-item{
        margin-bottom: 10px;
    }
    &__nav-link{
        color: $color-secundario;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    &__nav-link:hover{
        color: $color-letra-gris;
    }
}

/* -------------------------------------------------------- */
/* SEARCH BAR */
/* -------------------------------------------------------- */

.search-bar{
    display: flex;
    align-items: center; /* centra verticalmente */
    background-color: $color-secundario;
    width: 100%;
    padding: 1rem;
    gap: 10px;
    margin-bottom: 1rem;
    &__logo-container{
        width: 50%;
        background-color: $color-secundario;
        color: $color-letra-gris;
        width: 100%;
        display: flex;
        
    }
    &__carrito-container{
        width: 10%;
    }

    &__form-container{
        display: none;
    
    }

    
}



/* -------------------------------------------------------- */
/* MENÚ TOOGLE */
/* -------------------------------------------------------- */

.menu-toogle {
    display: block; /* none para desktop */
    background-color: red;
    flex: 0 0 3rem;
    cursor: pointer;
    position: relative;
    
    &__label {
        display: block;
        height: 100% ;
        background-color: $color-letra-negro;
    }

    &__top-bread, 
    &__meat, 
    &__bottom-bread {
        display: block;
        height: 0.2rem;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
        background-color: $color-letra-negro;

    }


    &__top-bread {
        top: 0.8rem;
    }

    &__meat {
        top: 50%;
        margin-top: -0.1rem;
    }

    &__bottom-bread {
        bottom: 0.8rem;
    }
}