/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */



.main-header{
    display: flex;
    flex-direction: column-reverse;
}

#menu {
    display: none;
} 

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.nav-bar{ 
    display: flex;

    &__nav-list{

    }
}

/* -------------------------------------------------------- */
/* SEARCH BAR */
/* -------------------------------------------------------- */

.search-bar{
    display: flex;
    align-items: center; /* centra verticalmente */
    background-color: $color-primario;
    &__logo-container{
        width: 50%;
        background-color: $color-secundario;
        color: $color-letra-gris;
    }

    &__form-container{
        display: none;
    
    }

    
}



/* -------------------------------------------------------- */
/* MENÚ TOOGLE */
/* -------------------------------------------------------- */

.menu-toogle {
    
}